In [ ]:
import kagglehub
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
!git clone 'https://github.com/GeeksforgeeksDS/21-Days-21-Projects-Dataset'

In [ ]:
data=pd.read_csv("/content/21-Days-21-Projects-Dataset/Datasets/Titanic-Dataset.csv")

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull()

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

there are null  values in age , cabin and embarked , lets handle null values

In [ ]:
data["Age"]=data["Age"].fillna(data["Age"].median())

In [ ]:
data.head()

In [ ]:
data["Embarked"]=data["Embarked"].fillna(data["Embarked"].mode()[0])
data.head()

In [ ]:
data.isnull().sum()

In [ ]:
data["Has_Cabin"]=data["Cabin"].notna().astype(int)
data.drop("Cabin",axis=1, inplace=True)

In [ ]:
data.head()

In [ ]:
fig, axes = plt.subplots(2, 3, figsize=(18, 12))
fig.suptitle('Univariate Analysis of Categorical Features', fontsize=16)
sns.countplot(ax=axes[0,0],data=data, x="Survived").set_title("survival")
sns.countplot(ax=axes[0,1],data=data,x="Sex").set_title("Gender")
sns.countplot(ax=axes[0,2],data=data,x="Embarked" ).set_title("Embarked")
sns.countplot(ax=axes[1,0],data=data,x="Has_Cabin" ).set_title("Cabin")
sns.countplot(ax=axes[1,1],data=data,x="Parch" ).set_title("Parch")
sns.countplot(ax=axes[1,2],data=data,x="SibSp" ).set_title("Sibps")

In [ ]:
fig , axes=plt.subplots(1,2 , figsize=(18,12))
sns.histplot(ax=axes[0] , x="Age" , data=data,kde=True, bins=30).set_title("Age distribution")
sns.histplot(ax=axes[1], x="Fare", data=data, bins=30,kde=True).set_title("Fare distruibution")

BI VARIATE ANALYSIS

In [ ]:
fig,axes=plt.subplots(2,2 , figsize=(16,12)) #class sex embarked has cabin
sns.barplot(ax=axes[0,0], x="Pclass",y="Survived", data=data).set_title("class vs survival")
sns.barplot(ax=axes[0,1],x="Sex",y="Survived",data=data).set_title("Sex vs survival")
sns.barplot(ax=axes[1,0],x="Embarked",y="Survived",data=data).set_title("Embarked vs survival")
sns.barplot(ax=axes[1,1],x="Has_Cabin",y="Survived",data=data).set_title("Cabin vs survival")

In [ ]:

g = sns.FacetGrid(data, col='Survived', height=6)
g.map(sns.histplot, 'Age', bins=25, kde=True)
plt.suptitle('Age Distribution by Survival Status', y=1.02)
plt.show()

OUTLIER DETECTION

In [ ]:
sns.boxplot(data=data["Fare"])
plt.show()

FEATURE ENGINEERING

In [ ]:
data["familysize"]=data["SibSp"]+data["Parch"]
data["alone"]=0
data.loc[data['familysize'] == 1, 'alone'] = 1

In [ ]:
data.head()

In [ ]:
sns.barplot(x="familysize",y="Survived",data=data).set_title("familysize vs survival")
plt.show()
sns.barplot(x="alone",y="Survived",data=data).set_title("alone vs survived")
plt.show()

In [ ]:
# 3. Extract 'Title' from the 'Name' column
data['Title'] = data['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

# Let's see the different titles
print("Extracted Titles:")
data['Title'].value_counts()

In [ ]:
# Simplify the titles by grouping rare ones into a 'Rare' category
data['Title'] = data['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

data['Title'] = data['Title'].replace('Mlle', 'Miss')
data['Title'] = data['Title'].replace('Ms', 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')

# Let's see the survival rate by the new, cleaned titles
plt.figure(figsize=(12, 6))
sns.barplot(x='Title', y='Survived', data=data)
plt.title('Survival Rate by Title')
plt.ylabel('Survival Probability')
plt.show()

MULTIVARIATE ANALYSIS

In [ ]:
sns.catplot(x="Pclass",y="Survived",hue="Sex",data=data,kind="bar")
plt.show()

In [ ]:
sns.violinplot(x='Sex', y='Age', hue='Survived', data=data, split=True, palette={0: 'blue', 1: 'orange'})
plt.show()
sns.violinplot(x='Pclass', y='Fare', hue='Survived', data=data, split=True, palette={0: 'blue', 1: 'orange'})

In [ ]:
sns.heatmap(data.select_dtypes(include=np.number).corr(),cmap="Blues")

In [ ]:
# Generate the profiling report
# Install ydata-profiling
!pip install ydata-profiling -q
from ydata_profiling import ProfileReport

profile = ProfileReport(data, title="Titanic Dataset Profiling Report")

# Display the report in the notebook
profile.to_notebook_iframe()

In [ ]:
profile.to_file("titanic.html")